html {
  --app-main-color: #4F5255;
  --app-light-color: #4F6170;
  --app-snd-color: #FF706E;
  --app-white-color: #F4FAFF;
  --app-light-color: #DEE3E8;

  --app-nav-size: 51.41px;
}

body {
  height: auto;
  max-height: 100vh;
}

main {
  margin: 0;
  font-family: Lato, 'Helvetica Neue', Helvetica,  sans-serif;
  line-height: 1.5;
  /*height: 80vh;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spectral', serif;
  /*letter-spacing: 0.025rem;*/
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
}

#topic-index {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
}

#topic-page {
  height: 100%;
  padding: 0;
}

#topic-views {
  height: 100%;
}

#topic-headlines {
  min-height: 100px;
}

@media screen and (max-width: 768px) {
  #topic-headlines {
    margin-bottom: 1rem;
  }
  #topic-index {
    margin-top: 8rem;
  }
}

.app-wrapper {
  height: calc(100vh - 8rem);
  max-height: calc(100vh - 8rem);
  margin: 6rem auto;
  margin-bottom: 0;
  /*padding: 0 1rem;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

#app-header {
  background: var(--app-main-color);
  -webkit-box-shadow:  1px 1px 5px rgba(0,0,0,.8);
      -moz-box-shadow: 1px 1px 5px rgba(0,0,0,.8);
           box-shadow: 1px 1px 5px rgba(0,0,0,.8);
  /*background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;*/
}

#app-header > .header {
  padding-left: 0.5rem;
}

.app-shell {
  margin: 0 auto;
  margin-top: 8rem;
}

.container {
  width: 100%;
}

.Grid-column {
  padding: 0.5rem !important;
}

.show-grid {
  display: block;
  height: 30vmax;
  padding: 0 2rem;
}

@media screen and (min-width: 768px) {
  .show-grid {
    height: 250px;
    display: block;
  }

}

.tall-row {
  height: 40vmax;
}

.grid-tile {
  padding: 0.5rem;
  height: 100%;
}

.flex-no-wrap {
  display: flex;
  flex-wrap: nowrap;
}

.full-width-center {
  text-align: center;
  width: 100%;
}

.full-height {
  height: 100%;
}

.political-grid-container {
  width: 100%;
  max-width: 700px;
  margin: 2rem auto;
  display: table;
}

.political-grid {
  width: 70%;
  height: 100%;
  display: table-cell;
}

.political-top {
  width: 90%;
  margin: 5%;
}

.political-side {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  height: 100%;
  padding: 5%;
}

.political-text {
  text-align: center;
  font-size: 1.4rem;
}

.topic-index-bottom {
  height: 40vh;
}

a, a:hover, a:visited, a:focus {
  color: inherit;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#profile-logo {
  padding-top: 0.928571em;
  padding-bottom: 0.928571em;
}

#profile-logo img {
  height: 45px;
  width: 45px;
  border: 2px solid white;
  /*box-shadow: 1px 1px 3px black;*/
}

.inf-list {
  border-top: 1px solid var(--app-light-color);
  border-bottom: 1px solid var(--app-light-color);
}

.sidebar > .container {
  background-color: var(--app-main-color);
  border: none;
}

.card {
  background: white;
}

.tag-col {
  /*display: flex;*/
  width: auto;
}

#tag-drawer-inner > .button {
  text-align: left;
  height: 3rem;
  margin: 0.25rem;
  width: 100%;
}

.primary, .ui.menu .item > .label, #tag-drawer-inner > .button, #tag-drawer-inner > .button:hover,
    #tag-drawer-inner > .button:visited, #tag-drawer-inner > .button:active {
  background-color: var(--app-snd-color) !important;
  color: white !important;
}

#tag-drawer-inner > .button {
  transition: 0.3s easy-in-out;
  width: auto;
}

#tag-drawer-inner > .button:hover {
  border-left: 5px solid white;
  padding-right: -5px;
}

#tag-drawer-inner > .button.active {
  background-color: var(--app-snd-color) !important;
  /*border: 5px solid white;*/
}

#tag-drawer {
  width: 100vw;
  top: 0;
  border-radius: 0px;
  display: inline-flex;
  margin-top: -2.5rem;
  background-color: var(--app-main-color);
  min-height: 100px;
  max-height: 30vh;
  display: inline;
  -webkit-transition: 3s easy-in-out;
  transition: 3s easy-in-out;
}

#tag-drawer-inner {
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: 992px) {
  #tag-drawer {
    /*margin: 35px;
    margin-top: 8rem;*/
    overflow-y: scroll;
  }
}
