.title-card {
  margin-bottom: 1rem;
}

.card img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .card img {
    width: 100px;
    height: 100px;
  }
}

.card .content {
  display: inline-flex;
}

.header {
  font-family: Spectral, serif !important;
}

.non-article {
  width: 100%;
  font-size: 1.5rem !important;
}

.card .header .meta {
  font-size: 1rem;
  font-weight: lighter;
}
