

.bias-container {
  padding: 0;
}

.bias-container:hover {
  cursor: e-resize;
}

.bias-text:not("not-rated") {
  margin-right: -105px;
}

.not-rated {
  text-align: center;
}

/* Change this to change the height of the meter bias */
.bias-meter:hover {
  cursor: e-resize;
}

.bias-meter {
  background-color: var(--app-snd-color);
  float: "left";
  margin-right: 10px;
  text-align: "right";
  color: white;
  font-size: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
}
