

.bias-container {
  padding: 0;
}

.bias-container:hover {
  cursor: e-resize;
}

.bias-text {
  margin-right: -105px;
}

.bias-meter:hover {
  cursor: e-resize;
}

.container div.bias-meter {
  font-size: 1.4em;
}
