.topic-card {
  height: 100%;
  background-position: center;
  background-size: cover;
}

.topic-card:hover {
  cursor: pointer;
  /*-webkit-box-shadow:  3px 3px 7px rgba(0,0,0,.8);
      -moz-box-shadow: 3px 3px 7px rgba(0,0,0,.8);
           box-shadow: 3px 3px 7px rgba(0,0,0,.8);*/
}

.topic-card:after {
  content: "";
  position: absolute;
  top: 0.5rem; bottom: 0.5rem; left: 0.5rem; right: 0.5rem;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
  -webkit-box-shadow:  3px 3px 7px rgba(0,0,0,.6);
      -moz-box-shadow: 3px 3px 7px rgba(0,0,0,.6);
           box-shadow: 3px 3px 7px rgba(0,0,0,.6);
}

.topic-card:hover:after {
  opacity: 1;
}

.topic-card-title {
  position: absolute;
  z-index: 6;
  bottom: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  background-color: rgba(77, 82, 88, 0.7);
  color: white;
  /*font-weight: 400;*/
  padding: 16px;
}
