#views {
  /*height: calc(100% - 60px);*/
}

#content {
  min-height: 300px;
  height: 100%;
  height: calc(100% - 50px);
}

.field {
  width: calc(100% - 10%);
}

.section {
  --section-form-size: 60px;
  min-height: 200px;
  height: 100%;
}

.button {
  min-width: 135px;
  width: 10%;
}

.section-form {
  width: 100%;
  margin: 0;
}

.section-height {
  height: calc(100% - var(--section-form-size));
}

.missing {
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: var(--app-main-color);
}

.missing-inner {
  display: table-cell;
  vertical-align: middle;
}

.missing-inner i {
  color: var(--app-snd-color);
}

/* FACTS */

#facts {
  padding: 0;
  height: 100%;
}

#fact-section .button {
  width: 15%;
  margin-right: 0;
}

#fact-section .section-form {
  margin: 0;
}

#fact-section .field {
  padding-left: 0;
}

/* COMMENTS */

#comment-section .button {
  /*margin: 0.5rem;*/
  margin-right: 0;
  float: right;
  margin-left: 0.5rem;
  /*height: 38px;*/
  /*width: 100%;*/
}

#comments {
  height: 100%;
  width: 100%;
}

.comments {
  max-width: 100%;
}

.field, .field > textarea {
  width: 100% !important;
}

.fields {
  /*width: 100%;*/
  margin: 0 !important;
}

textarea {
  min-height: 0 !important;
  max-height: initial !important;
}

@media screen and (max-width: 768px) {
  .section {
    --section-form-size: 100px;
  }

  #fact-section .field, #comment-section .field {
    width: 100%;
    padding: 0;
  }

  #fact-section .button, #comment-section .button {
    margin-top: 0.5rem;
    width: 100%;
  }

  #comment-section .button {
    margin-left: 0;
  }

  .button {
    width: 100%;
    margin: 1rem;
    margin-right: 0;
  }

  .section-height {
    /*height: calc(100% - 100px);*/
  }

}

.tabular > .active {
  border-bottom: 5px solid var(--app-snd-color) !important;
}
